
@{
    Layout = "_AdminLayout";
}

<h3>Работа с сущностями</h3>
<h5>Продукты</h5>
<ul>
    <li><a asp-controller="Admin" asp-action="Clothing">Одежда</a></li>
    <li><a asp-controller="Admin" asp-action="Rod">Удочки</a></li>
    <li><a asp-controller="Admin" asp-action="Gear">Снасти</a></li>
    <li><a asp-controller="Admin" asp-action="Bait">Наживка</a></li>
    <li><a asp-controller="Admin" asp-action="TypeOfClothing">Типы одежды</a></li>
    <li><a asp-controller="Admin" asp-action="TypeOfRod">Типы удочек</a></li>
    <li><a asp-controller="Admin" asp-action="TypeOfGear">Типы снасти</a></li>
    <li><a asp-controller="Admin" asp-action="TypeOfBait">Типы наживки</a></li>
</ul>