<div class="container">
    <h1 class="display-1">Доставка</h1>
    <br />
    <br />
    <div>
        <p>Доставка в нашем магазине бесплатная по всей территории РФ!</p>
        <p>При оформлении заказа мы перезвоним вам с подтверждением и вышлем заказ по указанному адресу</p>
        <p>Заказ можно будет оплатить и забрать в ближайшем отделении Почты России</p>
        <p>Покупайте вместе с нами и радуйтесь жизни!</p>
    </div>
</div>